{% extends "base.html.twig" %}

{% block title %}Ajouter un film{% endblock %}

{% block body %}

    <h1>Ajouter un film</h1>
    {% if state != 1 %}
        {{ form(form) }}
    {% endif %}

    {% if state == 2 %}
        <p class="error">{{ error }} </p>
    {% endif %}

    {% if state == 1 %}
        <h2>Le film a bien été créé</h2>
    {% endif %}

{% endblock %}
