{% extends "base.html.twig" %}

{% block title %}Ajouter un film{% endblock %}

{% block body %}

    <h1>Import de masse</h1>

    <div>
        <ul>
            <li>Votre fichier doit être au format xlsx</li>
            <li>Il doit comporter exactement 4 colonnes</li>
            <li>Colonne A => nom du film | Colonne B => description | Colonne C => votes | Colonne D => nb de votants</li>
            
        </ul>
        <p><strong>Exemple de fichier :</strong></p>
        <img width="500" src="https://pbs.twimg.com/media/FJnO7ctXIAAeHj3?format=jpg&name=medium" alt="tuto" />

        <p><strong>Vous pouvez tester la fonctionnalité avec le fichier exemple ci-dessous :</strong></p>
        <a href="https://samihanine.fr/import.xlsx">Télécharger</a>
    </div>
    {{ form(form) }}

{% endblock %}
