<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="https://cdn.pixabay.com/photo/2014/04/03/10/43/clapboard-311208_960_720.png">
        {% block stylesheets %}
            <link href="{{ asset('css/index.css') }}" rel="stylesheet"/>
        {% endblock %}
    </head>
    <header>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/add-film">Ajouter un film</a></li>
                <li><a href="/import">Import de masse</a></li>
            </ul>
        </nav>
    </header>
    <body>
        <main>
        {% block body %}{% endblock %}
        </main>
    </body>
</html>
